body, body *   { vertical-align: baseline; border: 0 none; outline: 0; padding: 0; margin: 0; font-family: Arial, sans-serif; font-size: 9pt; color: #333; }
#main-container{ display:block; position: relative; width:100%; height:100%; margin:0 auto; z-index:1; }
svg         { opacity:0; position:absolute; top:0; left:0; z-index:2; overflow:visible; }
circle      { position:absolute; }
.message 	{ margin:100px auto 0 auto; text-align: center; user-select:none; }